
.box {
    
    display: block;
    float: left;
    width: 100%;
    background: #fff;  
    font-family: sans-serif;
    padding: 5px;
}

.avatar {
    
    margin-top: -110px !important;
    margin-right: 50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: url("https://media.istockphoto.com/id/532378051/photo/night-sky-with-stars-and-clouds.webp?b=1&s=170667a&w=0&k=20&c=mnItqSY0HShx09QEMPHwDkcP8_1p2yY_efrN38UG3c4=");
   
    border: 6px solid rgb(255, 255, 255);
}
#box1{
    color: #ffffff;
    width: 100%;
    background-color: #0C406B;
}

.avatar img {
    /* Adjust margins and position */

   
    top: -10; 
    left: 0;
    width: 100%;
    height: auto;
    transition: transform 0.2s ease;
}
.con1,.con2{
    margin-left: 50px;
    margin-top: 30px;
    
    text-align: left; 
   
    
}

.avatar {
    float: right;
    
    
   

    
}



.avatar:hover img {
    transform: scale(1.4);
}
.con2 nav {
   
    padding: 10px 0;
    float: left;
    
}

ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline-block;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: #fff;
    transition: opacity 0.3s;
    
}

a:hover {
    opacity: 0.6;
}

.con2 img {
    width: 35px; /* Adjust the size of the logos as needed */
    height: auto;
    margin-left: -90px;
   
    
}
#summary{
    width: 600px;
    margin: auto;
    padding: 10px;
    
   
    font-family: sans-serif;
}
#con3,#con4,#con5,#con6,#con7{
    margin-inline-start: 3%;
    margin-inline-end: 5%;
}
#skills {
    width: 610px;
}
.subhead{
    color: #0C406B;

}
.skills {
    display: flex;
    flex-wrap: wrap; 
    justify-content: left; 
  }

  
  .name:hover {
    background-color: rgb(167, 161, 161);
  }
  .name{
    height: 20px;
    margin: 5px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(167, 161, 161);
    
    font-weight: bold;
    color: black;
    

  }
  #java{
    width: 50px;
  }
  #sql{
    width: 80px;
  }
  #python{
    width: 60px;
  }
  #rstudio{
    width: 300px;
  }

  #verilog{
    width: 350px;
  }
  #cisco{
    width: 200px;

  }
  #ms{
    width: 170px;

  }
  #canva{
    width:250px;

  }
  #dsa{
    width: 300px;
  }
  #html,#css{
    width: 50px;
  }
  #bs{
    width: 100px;
  }
  #edu{
    width: 620px;
    margin-top: -420px;

  }
  #edublock{


  }

.vl{
  border-left: 1px solid rgb(35, 34, 34);
  height: 80px;
  margin-left: 450px;
  margin-top: -100px;
}
#marks{
  margin-left: 500px;
  margin-top: -100px;
  text-align: center;

}
#gpa{
  width: 60px;
}
#lang{
  width: 550px;
}

.dashed-line {
  border: 1px dashed rgb(45, 42, 42);
  margin-top: 45px;
}

.meter {
  margin-left: 100px;
  margin-top: -25px;
  border-radius: 10%;
  border: 1px solid black;
  width: 150px;
  background-color: #ccc;
  height: 10px; /* Set the height of the meter */
  position: relative;
}

.meter-scale {
  background-color: #0C406B; /* Set the scale color */
  height: 100%;
  width: 99%; /* Represents 100 meters */
}
.meter2 {
  margin-left: 100px;
  margin-top: -25px;
  border-radius: 10%;
  border: 1px solid black;
  width: 150px;
  background-color: #ccc;
  height: 10px; /* Set the height of the meter */
  position: relative;
}

.meter-scale2 {
  background-color: #0C406B; /* Set the scale color */
  height: 100%;
  width: 30%; /* Represents 100 meters */
}
#org{
  width: 620px;
  margin-top: -280px;
}
#pro{
  width: 500px;
}
